.header {
  position: relative;
  height: 9rem;
  width: 100%;
  border-bottom: 1px solid #666;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.header__logo {
  width: 6.5rem;
  text-transform: capitalize;
  font-weight: 600;
}

.header__logo > img {
  cursor: pointer;
}

.header__search {
  border: 1px solid #666666;
  width: 40vw;
  height: 4.5vh;
  min-height: 2.5rem;
  border-radius: 2.8rem;
  min-width: 30rem;
  padding: 0.5rem;
}
.header__search form {
  display: flex;
  align-items: center;
  justify-content: left;
}
.header__search form input {
  width: 80%;
  border: none;
  text-align: left;
  font-size: 1.2rem;
  outline: none;
}
.header__search form button {
  height: 2.5rem;
  width: 2.5rem;
  background: none;
  color: #9933ff;
  border-radius: 50%;
  border: none;
}

.search-icon {
  font-size: 1.6rem;
}

.header__navbar-user {
  border: 1px solid #666666;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.header-icons {
  background: none;
  border: none;
  font-size: 2rem;
  transition: all 1s ease-in-out;
  height: 3.5rem;
}

.profile {
  min-height: auto;
}

.header__navbar {
  background-color: #9182d0;
  position: absolute;
  top: 105%;
  right: 1%;
  width: 30rem;
  border-radius: 2rem;
  animation: slideIn 1s ease;
}

.header__navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 800px) {
  .header-container {
    width: 100vw;
    overflow: hidden;
    padding: 0 1rem;
  }
  .header__logo {
    width: 4.5rem;
  }
  .header__search {
    padding: 0.3 0.5rem;
    width: 60%;
  }
  .header__search form {
    width: 98%;
    border-radius: 1.9rem;
  }
  .header__search form input {
    width: 80%;
    padding-left: 0;
    font-size: 1.5rem;
  }
  .header__search form button {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
  }
  .search-icon {
    font-size: 1.5rem;
  }
  .header__navbar-user {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 2rem;
    transition: all 1s ease-in-out;
    gap: 0.3rem;
  }
}
@media screen and (max-width: 600px) {
  .header {
    height: auto;
  }
  .header-container {
    padding: 1rem;
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    justify-content: space-between;
    grid-template-areas: "logo logo logo" "search search menu";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }
  .header__logo {
    grid-area: logo;
    width: 3.8rem;
    justify-self: center;
  }
  .header__search {
    grid-area: search;
    padding: 0;
    font-weight: 400;
    border-radius: 1.8rem;
  }
  .header__search form {
    width: 93%;
    margin: 0 auto;
    height: 98%;
    justify-content: space-around;
  }
  .header__search form button {
    order: 1;
    width: 2rem;
    height: 2rem;
  }
  .header__search form input {
    order: 2;
    font-size: 1.4rem;
  }
  .header__search .search-icon {
    font-size: 1.4rem;
  }
  .header__navbar-user {
    grid-area: menu;
    width: 2.5rem;
    height: 2.5rem;
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=Header.css.map */