@use "../../../../style/global" as *;

.dropdowns{
    &__content{
        display: flex;
        // align-items: center;
        flex-wrap: wrap;
        gap: clamp(9px,4vw,30px);
    }
}
@media screen and (max-width:607px) {
    .dropdowns{
        &__content{
            align-items: center;
            justify-content: center;

        }
    }
}