.go4109123758 {
  background: transparent;
}
.go2072408551 {
  padding: 16px;
  max-width: 100%;
  width: 30%;
  line-height: 1.4;
  text-align: center;
}
.go1858758034 {
  width: 35px !important;
  height: 35px !important;
}

.go2534082608 {
  width: 35px !important;
  height: 35px !important;
  border-radius: 30px !important;

  &::before {
    width: 25px !important;
    left: 5px !important;
    bottom: 17px !important;
  }

  &::after {
    width: 25px !important;
    left: 5px !important;
    bottom: 17px !important;
  }
}

.go2358747891 {
  width: 50px;
  font-size: 32px;
  background: transparent;
}

.go3958317564 {
  font-size: 22px !important;
  font-weight: 500 !important;
  background: transparent;
}
.go685806154 {
  min-width: 35px !important;
  min-height: 35px !important;
  background: transparent;
}

.go1579819456 {
  background: transparent;
}
