@use "../../../../style/global" as *;

.login {
  background-color: transparent;
  &__content {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      gap: clamp(10px, 4vw, 20px);
      input {
        background-color: transparent;
        padding: clamp(6px, 1.5vw, 12.026px) clamp(8px, 2vw, 160.934px)
          clamp(6px, 1.5vw, 12.24px) clamp(8px, 2vw, 16.4px);
        border-radius: 49.2px;
        border: 0.547px solid $borderColor;
        background: transparent;
        overflow: visible;
        &::placeholder {
          color: $authTextColor;
          
        }
      }

      button {
        @include defaultButton();
      }
    }
  }
  &__divider {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;

    p {
      background-color: transparent;
      color: $textColor;
      text-align: center;
      font-family: Lora;
      font-size: clamp(10px, 4vw, 16px);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding-right: 19px;
      padding-left: 19px;

      position: relative;
      &::before,
      &::after {
        content: "";
        background-color: $borderColor;
        width:calc(70px + 2.5vw);
        height: 1.5px;
        position: absolute;
        z-index: 2;
      }
      &::before {
        top: 50%;
        left: 0%;
        transform: translate(-100%, -50%);
      }

      &::after {
        top: 50%;
        left: 100%;
        transform: translate(0%, -50%);
      }
    }
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    img{
      width: 20%;
    }
  }
  .login__password-inputs {
    background-color: transparent;
    position: relative;
 
    span {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      cursor: pointer;
      background-color: transparent;
    }
  }
  input {
    color: $authTextColor;
    width: 90%;

  }
  input{
    background-color: transparent;
    
  }
  
}
