.routes__name-info {
  font-family: Lora;
  font-size: clamp(12px, 4vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  span {
    font-size: clamp(12px, 4vw, 24px);
    font-style: normal;
    font-weight: 500;
    transition: 0.2s;
    &:hover {
      color: gray;
      transition: 0.2s;
    }
  }
}
