@use "../../../../style/global" as *;

.book__info__header {
  margin-top: 32.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &--icon{
    width: clamp(20px,4vw,40px);
  }

  &-name {
    @include title($textColor);
  }
  svg {
    cursor: pointer;
  }
}
