.book__info__header {
  margin-top: 32.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-name {
    color: #000;
    font-family: Lora;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
