.alert {
  z-index: 10;
  width: 30rem;
  height: 8rem;
  background-color: green;
  opacity: 0.6;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0 2rem;
  position: fixed;
  top: 5%;
  left: 30%;
  justify-content: center;
  transition: top 0.5s ease-in-out;
}

.alert.show {
  top: 0;
}

.success-svg {
  background-color: #fff;
  border-radius: 20px;
  width: 50px;
  height: 50px;
}

.alert-info {
  margin-left: 5%;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.alert-title {
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
}
.alert-descr {
  font-size: 1.5rem;
}
