
$buttonColor:#93F;
$supportInfoTextColor:#888;
$borderColor:#666;
$bookDetailsTextColor:#93F;
$buttonTextColor:#FFF;

$lightModeTextColor: #000;
$lightModeBookRequestBackground: #EAEAEA;
$lightModeBackground: #FFF;


$darkModeTextColor:#F5F6FA;
$darkModeBookRequestBackground: #0D0D0D;
$darkModeBackground: #282728;;