@use "../../../../style/global" as *;

.signup {
  background-color: transparent;
  &__content {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: clamp(10px, 4vw, 20px);
      input {
        background-color: transparent;
        padding: 12.026px 160.934px 12.24px 16.4px;
        border-radius: 49.2px;
        border: 0.547px solid $borderColor;
        background: transparent;
        &::placeholder {
          color: $authTextColor;
        }
      }

      button {
        @include defaultButton();
      }
    }
  }
  &__divider {
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    p {
      background-color: transparent;
      color: $authTextColor;
      text-align: center;
      font-family: Lora;
      font-size: clamp(10px, 4vw, 16px);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding-right: 19px;
      padding-left: 19px;

      position: relative;
      &::before,
      &::after {
        content: "";
        background-color: $borderColor;
        width: calc(100px + 2.5vw);
        height: 1.5px;
        position: absolute;
        z-index: 2;
      }
      &::before {
        top: 50%;
        left: 0%;
        transform: translate(-100%, -50%);
      }

      &::after {
        top: 50%;
        left: 100%;
        transform: translate(0%, -50%);
      }
    }
  }
  &__img {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  span {
    background-color: transparent;
  }

  .signup__password-inputs {
    background-color: transparent;
    position: relative;
    span {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
  input {
    color: $authTextColor;

  }
  .signup_error--password{
    background-color: transparent;
    color: red;
    text-align: center;
    font-family: Lora;
    font-size: clamp(10px, 4vw, 16px);
    font-style: normal;
    // font-weight: 500;
    // line-height: normal;
    // padding-right: 19px;
    // padding-left: 19px;
  }
}
