.footer {
  padding: 1rem 2.5rem;
  border-top: 1px solid #666666;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  padding-bottom: 2rem;
}

.footer__blog {
  display: flex;
  flex-direction: column;

  h3 {
    font-weight: 600;
    padding-bottom: 0.7rem;
    font-size: 1.5rem;
  }
  li {
    padding-bottom: 0.7rem;
  }
}
.phone {
  display: flex;
  gap: 2rem;
}

.footer-logo {
  padding-top: 2rem;
  width: 7rem;
}
@media screen and (max-width: 768px) {
  .footer-content {
    font-size: 1rem;
    font-weight: 400;
  }

  .footer__blog li {
    padding-bottom: 0.5rem;
  }
  .footer-logo {
    width: 5rem;
  }
  .footer__blog h3 {
    font-size: 1.3rem;
  }
  .phone {
    flex-direction: column;
  }
  .footer p {
    font-size: 0.9rem;
  }
}
