@use "../../../../style/global.scss" as *;

.bookinfo__description {
  margin-top: 2.5rem;
  .bookinfo__description__title {
    color: $textColor;
    font-family: Lora;
    font-size: clamp(14px, 4vw, 36px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .bookinfo__description__details {
    margin-top: clamp(9px, 4vw, 20px);
    color: $textColor;
    font-family: Montserrat;
    font-size: clamp(14px, 4vw, 32px);
    font-style: normal;
    font-weight: 400;
    line-height: (17px, 4vw, 45px);
    max-width: 1648px;
  }
  .bookinfo__extrainfo__block {
    margin-top: (17px, 4vw, 40px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 50px;
    margin-top: 10px;

    .bookinfo__description__user-info {
      display: inline-flex;
      padding: 20px clamp(116px, 4vw, 150px) 20px 50px;
      flex-direction: column;
      align-items: flex-start;
      gap: clamp(5px,4vw,12px);
      border-radius: 30px;
      border: 1px solid $borderColor;
      background: $background;
      margin-top: 10px;
    }
    .bookinfo__description__user-info__title {
      color: $textColor;
      font-family: Lora;
      font-size: clamp(20px,4vw,30px);

      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .bookinfo__description__user-info__name {
      margin-top: 12px;
      display: flex;
      align-items: center;

      h6 {
        color: $textColor;
        font-family: Lora;
        font-size: clamp(14px, 4vw, 24px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      p {
        color: $textColor;
        font-family: Lora;
        font-size: clamp(14px, 4vw, 24px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .bookinfo__description__user-info__rate {
      margin-top: 12px;
      display: flex;
      align-items: center;

      h6 {
        color: $textColor;
        font-family: Lora;
        font-size: clamp(14px, 4vw, 24px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      p {
        color: $textColor;
        font-family: Lora;
        font-size: clamp(14px, 4vw, 24px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .bookinfo__description__data {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      padding-left: 50px;

      .bookinfo__description__data__cell {
        display: flex;
        align-items: center;

        h6 {
          color: $textColor;
          font-family: Lora;
          font-size: clamp(14px, 4vw, 24px);
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        p {
          color: $bookDetailsTextColor;
          font-family: Lora;
          font-size: clamp(14px, 4vw, 24px);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}
